
.idea/logchain2.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml___jb_tmp___
*.pyc
.vscode/launch.json
.idea/logchain.iml
peerconnector.json
peermgr.json
_VotingStorage/Voting.txt
